<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GamerStop</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>
<footer>
  <p>&copy; 2023 CS 340 Introduction to Databases . All rights reserved.</p>
  <p>Contact:<span><a href="mailto:your.sampleEmail@gmail.com">CS340_DB_class@osu.edu</a></span></p>
  <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
</footer>
