<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerStop</title>
    <link rel="stylesheet" type="css" href="/front-end/style.css">
</head>
<body>
    <div id="banner">
    <a href="/"><img src="../img/gamerstop_title.png" alt="gamerstop title"></a>
    {{!-- <h1>Welcome to <a href="/">GamerStop</a></h1>
    <p>Your one stop shop for the latest Video Games and Consoles!</p> --}}
    </div>
</body>
<main>
    <ul id="navbar">
        <li><a href="/customer">Customers</a></li>
        <li><a href="/videogame">Video Games</a></li>
        <li><a href="/console">Consoles</a></li>
        <li><a href="/product">Products</a></li>
        <li><a href="/invoice">Invoices</a></li>
        <li><a href="/invoiceproduct">Invoice_has_products</a></li>
    </ul>
</main>
{{!-- Just some plain text --}}

<section class="box-format">

    <h1>Example Privacy Policy</h1>

        <header>
            <h1>Privacy Policy </h1>
            <p>Effective Date: [11/27/2023]</p>
        </header>

        <section>
            <h2>1. Information We Collect:</h2>
            <p>
                <strong>Participant Information:</strong> We may collect information voluntarily provided by participants, such as names, email addresses, and other contact details.
            </p>
            <p>
                <strong>Project Data:</strong> We may automatically collect non-personal information, such as participant progress, responses, and other project-related data.
            </p>
        </section>

        <section>
            <h2>2. How We Use Your Information:</h2>
            <p>We may use the collected information for the following purposes within the scope of the school project:</p>
            <ul>
                <li>Facilitate and maintain the Project</li>
                <li>Analyze and improve the project experience</li>
                <li>Communicate project updates or information</li>
            </ul>
        </section>

        <section>
            <h2>3. Disclosure of Your Information:</h2>
            <p>We will not share participant information with third parties outside the scope of the school project without explicit consent.</p>
        </section>

        <section>
            <h2>4. Cookies:</h2>
            <p>We may use cookies to enhance the participant experience within the Project. Participants can adjust their browser settings to disable cookies, understanding that this may impact certain features of the Project.</p>
        </section>

        <section>
            <h2>5. Third-Party Links:</h2>
            <p>The Project may contain links to third-party resources relevant to the school project. We are not responsible for the privacy practices or content of these resources.</p>
        </section>

        <section>
            <h2>6. Security:</h2>
            <p>We take reasonable measures to protect participant information within the scope of the school project. However, no method of transmission over the internet or electronic storage is 100% secure.</p>
        </section>

        <section>
            <h2>7. Changes to This Privacy Policy:</h2>
            <p>We reserve the right to update this Privacy Policy for the school project. Any changes will be communicated within the project environment.</p>
        </section>

        <section>
            <h2>8. Contact Us:</h2>
            <p>If you have any questions or concerns about this Privacy Policy within the context of the school project, please contact us at<span><a href="mailto:your.sampleEmail@gmail.com">sampleEmail@gmail.com</a></span></p>
        </section>
</section>



<div id="extra-padding"></div>

<script defer src="../js/delete-product.js" type="text/javascript"></script>