<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerStop</title>
    <link rel="stylesheet" type="css" href="/front-end/style.css">
</head>
<body>
    <div id="banner">
    <a href="/"><img src="../img/gamerstop_title.png" alt="gamerstop title"></a>
    {{!-- <h1>Welcome to <a href="/">GamerStop</a></h1>
    <p>Your one stop shop for the latest Video Games and Consoles!</p> --}}
    </div>
</body>
<main>
    <ul id="navbar">
        <li><a href="/customer">Customers</a></li>
        <li><a href="/videogame">Video Games</a></li>
        <li><a href="/console">Consoles</a></li>
        <li><a href="/product">Products</a></li>
        <li><a href="/invoice">Invoices</a></li>
        <li><a href="/invoiceproduct">Invoice_has_products</a></li>
    </ul>
</main>
<section class="box-format">

<header>
        <h1>Terms of Service</h1>
        <p>Last Updated: [11/27/2023]</p>
    </header>

    <section>
        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or participating in CS340 Introduction to Databases, you agree to abide by these Terms of Service and all applicable laws and regulations.</p>
    </section>

    <section>
        <h2>2. Class Materials</h2>
        <p>All materials provided in the class, including but not limited to lectures, presentations, and assignments, are the intellectual property of [Your Name or Institution]. Unauthorized use or distribution of these materials is prohibited.</p>
    </section>

    <section>
        <h2>3. Code of Conduct</h2>
        <p>Participants are expected to conduct themselves in a respectful and professional manner. Any form of harassment, discrimination, or disruptive behavior will not be tolerated.</p>
    </section>

    <section>
        <h2>4. Participation and Submissions</h2>
        <p>Active participation is encouraged. All submissions, including but not limited to assignments and forum posts, must be original and in compliance with academic integrity standards.</p>
    </section>

    <section>
        <h2>5. Privacy</h2>
        <p>Personal information collected during the course will be handled in accordance with our Privacy Policy. [Link to Privacy Policy]</p>
    </section>

    <section>
        <h2>6. Modifications</h2>
        <p>We reserve the right to update or modify these Terms of Service at any time. Any changes will be effective immediately upon posting. Participants are responsible for regularly reviewing these terms.</p>
    </section>

    <section>
        <h2>7. Contact Information</h2>
        <p>If you have any questions or concerns about these Terms of Service, please contact us at <span><a href="mailto:your.sampleEmail@gmail.com">sampleEmail@gmail.com</a></span>.</p>
    </section>

</section>


<div id="extra-padding"></div>
